@tailwind base;
@tailwind components;
@tailwind utilities;
@import "content";
*,
::after,
::before {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  border-radius: 5%;
}
::-webkit-scrollbar-track-piece {
  background: transparent;
}
// ::-webkit-scrollbar-track {
//   background: #f1f1f1; /* Màu nền của scrollbar */
// }
::-webkit-scrollbar-thumb {
  position: absolute;
  z-index: 10000000;
}

::-webkit-scrollbar-thumb {
  background: #888; /* Màu của thanh cuộn */
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-400;
}
// input antd
.ant-input-outlined {
  border: none !important;
  box-shadow: none !important;
}
// select antd
.ant-select-outlined .ant-select-selector {
  border-color: #e7e5e4 !important;
  box-shadow: none !important;
}

.address > .ant-select-selector {
  border: none !important;
}

/* CSS for swiper job */
.swiper-job.swiper {
  padding-bottom: 70px;
}
.swiper-job .swiper-button-prev {
  z-index: 100;
  width: 40px;
  height: 40px;
  border-radius: 9999px;
  background-color: #1967d2;
  @apply lg:left-[45%] left-[70%] top-[93%];
}
.swiper-job .swiper-button-prev:hover {
  opacity: 80 !important;
}
.swiper-job .swiper-button-prev::after {
  display: flex;
  margin: auto;
  font-size: 20px;
  color: white;
  border-radius: 9999px;
}

.swiper-job .swiper-button-next {
  width: 40px;
  height: 40px;
  border-radius: 9999px;
  z-index: 100;
  padding: 10px;
  background-color: #1967d2;

  @apply lg:left-[53%] top-[93%];
}
.swiper-job .swiper-button-next::after {
  display: flex;
  margin: auto;
  font-size: 20px;
  color: white;
  border-radius: 9999px;
}
/* CSS for swiper job fit */
.swiper-job-fit.swiper {
  padding-top: 26px;
}
.swiper-job-fit .swiper-button-prev {
  z-index: 100;
  width: 35px;
  height: 35px;
  border-radius: 9999px;
  background-color: #1967d2;
  @apply lg:left-[90%] left-[75%] lg:top-[10%] top-[8%];
}
.swiper-job-fit .swiper-button-prev:hover {
  opacity: 80 !important;
}
.swiper-job-fit .swiper-button-prev::after {
  display: flex;
  margin: auto;
  font-size: 20px;
  color: white;
  border-radius: 9999px;
}

.swiper-job-fit .swiper-button-next {
  width: 35px;
  height: 35px;
  border-radius: 9999px;
  z-index: 100;
  background-color: #1967d2;
  @apply lg:left-[96%] left-[90%]  lg:top-[10%] top-[8%];
}
.swiper-job-fit .swiper-button-next::after {
  display: flex;
  margin: auto;
  font-size: 20px;
  color: white;
  border-radius: 9999px;
}
/* CSS for swiper job fit phone */
.swiper-job-fit-phone.swiper {
  padding-top: 26px;
}
.swiper-job-fit-phone .swiper-button-prev {
  z-index: 100;
  width: 35px;
  height: 35px;
  border-radius: 9999px;
  background-color: #1967d2;
  @apply lg:left-[90%] left-[75%] lg:top-[12%] top-[15%];
}
.swiper-job-fit-phone .swiper-button-prev:hover {
  opacity: 80 !important;
}
.swiper-job-fit-phone .swiper-button-prev::after {
  display: flex;
  margin: auto;
  font-size: 20px;
  color: white;
  border-radius: 9999px;
}

.swiper-job-fit-phone .swiper-button-next {
  width: 35px;
  height: 35px;
  border-radius: 9999px;
  z-index: 100;
  background-color: #1967d2;
  @apply lg:left-[96%] left-[90%]  lg:top-[12%] top-[15%];
}
.swiper-job-fit-phone .swiper-button-next::after {
  display: flex;
  margin: auto;
  font-size: 20px;
  color: white;
  border-radius: 9999px;
}

// mutil select antd
.skill.address .ant-select-selector {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

// see more

.format-html::after {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 50%;
  width: 100%;
  content: "";
  z-index: 2;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);
}

// search banner home
.search-banner .ant-input.ant-input-lg {
  @apply placeholder:text-black focus:placeholder:text-gray-300 font-normal text-base;
}
.search-banner .ant-select-selection-placeholder {
  // @apply text-black font-medium focus:text-gray-300;
  @apply font-normal;
}

.search-banner .ant-select-selection-item {
  @apply text-base font-normal;
}

// animations
.slide-enter {
  opacity: 0;
  transform: translateY(-100%);
}

.slide-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.slide-exit {
  opacity: 1;
  transform: translateY(0);
}

.slide-exit-active {
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 300ms, transform 300ms;
}

/* Định nghĩa các class cho transition */
.fade-enter {
  opacity: 0;
  transform: scale(1);
}

.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 200ms, transform 200ms;
}

.fade-exit {
  opacity: 1;
  transform: scale(1);
}

.fade-exit-active {
  opacity: 0;
  transform: scale(1);
  transition: opacity 200ms, transform 200ms;
}

// update antd imge
.updateavatar .ant-upload-list-item-container {
  @apply hidden;
}

//
.vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg); /* Nếu muốn xoay ngược lại */
}
.search-title {
  ::-webkit-scrollbar {
    width: 5px;
    height: 4px !important;
    border-radius: 10%;
  }
  ::-webkit-scrollbar-track-piece {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    position: absolute;
    z-index: 10000000;
  }
  ::-webkit-scrollbar-thumb {
    background: #f3e3e3; /* Màu của thanh cuộn */
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-400;
  }
}

option:hover {
  background-color: yellow;
}
// gradient
.bg-gradient {
  background: linear-gradient(to top, white, #0E8DE1);
}
