@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 7px; /* Định kích thước chiều rộng của thanh cuộn */
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Màu nền của scrollbar */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Màu của thanh cuộn */
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-400;
}
// input antd
.ant-input-outlined {
  border: none !important;
  box-shadow: none !important;
}
// select antd
.ant-select-outlined .ant-select-selector {
  border-color: #e7e5e4 !important;
  box-shadow: none !important;
}

/* CSS for swiper */
.swiper-job.swiper {
  padding-bottom: 70px;
}
.swiper-job .swiper-button-prev {
  z-index: 100;
  width: 40px;
  height: 40px;
  border-radius: 9999px;
  background-color: #1967d2;
  left: 45%;
  top: 93%;
}
.swiper-job .swiper-button-prev:hover {
  opacity: 80 !important;
}
.swiper-job .swiper-button-prev::after {
  display: flex;
  margin: auto;
  font-size: 20px;
  color: white;
  border-radius: 9999px;
}

.swiper-job .swiper-button-next {
  width: 40px;
  height: 40px;
  border-radius: 9999px;
  z-index: 100;
  padding: 10px;
  background-color: #1967d2;
  left: 53%;
  top: 93%;
}
.swiper-job .swiper-button-next::after {
  display: flex;
  margin: auto;
  font-size: 20px;
  color: white;
  border-radius: 9999px;
}
