.running-text {
  display: flex;
}

.running-text span {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.running-text span.fade-in {
  opacity: 1;
}

/*  */
.bouncing-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  transition: transform 0.5s ease-in-out;
}

.bouncing-image.up {
  transform: translateY(-20px);
}

.bouncing-image.down {
  transform: translateY(20px);
}

.bouncing-image img {
  max-width: 100%;
  max-height: 100%;
}
/*  */
.logo-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: right 7s linear; /* Thời gian chuyển động 2 giây */
}

.logo-container img {
  width: 100px; /* Thay đổi kích thước tùy theo logo của bạn */
  height: auto;
}
